body {
  background-image: url(https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?q=80&w=2093&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  min-height: 60vh;
}

.moonSize {
  max-width: 40dvh;
  user-select: none;
}

.upgradesStyle {
  min-width: 0vh;

}

.statsStyle {
  min-width: 00dvh;
}

.bankStyle {
  min-width: 0vh;
}

.controlPanelBG {
  background-image: url(https://images.unsplash.com/photo-1678794792900-5abfe053682e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.textShadow {
  text-shadow: 1px 1px black;
}